@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-condensed-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bellefair-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Bellefair", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.Commander__body {
  background-image: url(/images/21.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #0B0D17;
}

.Commander {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 78px;
}

.Commander__logo {
  padding-left: 5px;
}

.Commander__header-span {
  margin-left: 64px;
  width: 473px;
  border: 0.5px solid #FFFFFF;
}

.Commander__header-link {
  display: flex;
  justify-content: space-between;
  width: 870px;
  padding: 20px 113px;
  align-items: center;
  padding-right: 50px;
  background-color: rgba(11, 13, 23, 0.5647058824);
  transition: all 0.3s linear;
  gap: 48px;
  padding: 16px;
}

.Commander__header-item {
  display: flex;
  padding: 10px;
  color: white;
  transition: all 0.3s linear;
}

.Commander__header-item:hover {
  color: antiquewhite;
  border-bottom: 3px solid white;
  padding-bottom: 22px;
}

.Commander-section {
  display: flex;
  color: white;
}

.Commander-section-str {
  color: white;
  margin-left: 220px;
  margin-bottom: 154px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 4.72px;
}

.container {
  display: flex;
  gap: 81px;
}

.commander__list {
  width: 488px;
  margin-top: 154px;
}

.commander__list h2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.commander__list > h3 {
  color: rgb(255, 255, 255);
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  margin-bottom: 26px;
}

.commander__list > P {
  color: rgb(208, 214, 249);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 100px;
}

.Commander__hero {
  padding-bottom: 20px;
}/*# sourceMappingURL=main.css.map */