*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: "Barlow", sans-serif;
    font-family: "Barlow Condensed", sans-serif;
    font-family: "Bellefair", sans-serif;
}