*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: "Barlow", sans-serif;
    font-family: "Barlow Condensed", sans-serif;
    font-family: "Bellefair", sans-serif;
}
.space-body{
    background-image: url(../images/spacebg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
    background-attachment: fixed;
}
@media (max-width:1000px){
    .space-body {
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center bottom;
        background-attachment: fixed;
    }
}
@media (max-width:416px){
    .space-body {
        background-image: url(../images/space-body-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
    }
}